/* -------- Спецификая ---------- */
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('/fonts/Gilroy-Bold.woff2') format('woff2'),
        url('//fonts/Gilroy-Bold.woff') format('woff'),
        url('//fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('/fonts/Gilroy-Regular.woff2') format('woff2'),
        url('//fonts/Gilroy-Regular.woff') format('woff'),
        url('/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }


body {
    font-family: Gilroy, Arial, sans-serif;
    color: #000000;
    padding: 0;
    margin: 0;
}

.container {
    width: 944px;
    margin: 0 auto;
}

div,
p,
form,
input,
span,
button,
a {
    box-sizing: border-box;
    text-decoration: none;
}

p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;

}

h1,
h2,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

h3 {
    font-weight: 400;
    font-size: 18px;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

.btn {
    text-transform: uppercase;
    font-weight: 700;
    font-family: tahoma;
    font-size: 13px;
    max-width: 218px;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 27px;
    padding: 20px 0 19px;
    background: #2D63EB;
    color: #fff;
}


/* HEADER SECTION */

.header-section {
    padding: 32px 0 36px;
    position: relative;
}

.header {
   
}

.header__menu{
    display: flex;
    justify-content: space-between;
}

.header__menu:after   {
    content: "";
    border-bottom: 1px solid #828282;
    width: 941px;
    position: absolute;
    bottom:0;
}

.header__menu-home a {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color:#070707;
   
}

.header__menu-navig a {
    color: #828282;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;

}

/* FIRST-section */
.foreword-section{
    padding:36px 0 52px;

}
.foreword{
    display:flex;
    justify-content: space-between;
    margin-bottom: 31px;
    align-items: center;

}
.foreword__name{
    font-size:47px;
    max-width:150px;
    width:100%;
}
.foreword__bio{
    width:155px;
    padding-top: 35px;
    padding-right: 80px;

}
.foreword__languages  {
    writing-mode: vertical-rl;
    text-transform: uppercase;
    font-size:16px;
    display: flex;
    transform: rotate(180deg);
    padding-bottom: 25px;
    

}

.languages__ru a{
    font-weight: 700;
    color: #828282;  
    

}
.languages__eng a{
    font-weight: 700;
    color: #000000;

}

.languages__eng a:before {
    content: "";
    border-bottom: 3px solid #000000;
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
    right: 3px;
    width: 10px;
    
}

.foreword__img {
    width: 100%;
    display: block;


}


/* about me section */


.about-me-section{
    background: #F6F6F6;
    padding: 52px 0 46px;

}
.about-me{
    text-align: center;
    width: 485px;
    margin-inline: auto;

   

}
.about-me__title{
    font-size:34px;
    margin-bottom: 18px;

}             
.about-me__text{
    

}

.about-me__text > :not(:last-child) {
    padding-bottom: 46px;

}

.about-me__text p {
  font-size: 18px;
}



/* skill SECTION */

.skills-section{
    padding: 91px 0 110px;
}
.skills{
    text-align: center;
    width: 937px;
    
}

.skills_title{
    font-size: 34px;
    margin-bottom: 69px
}
.skills__text{
    margin-bottom: 83px;
    
}

.skills__text p{
    font-size: 18px;
    font-weight: 500;
}
.skills__icons{
    display: flex;
    justify-content: space-around;
}
    

.skills__icon{
    
}
.skills__icon-image-ps{
    background: linear-gradient(135deg, rgba(3,68,100,1) 0%, rgba(12,8,36,1) 100%);
    /* margin-bottom: 23px; */
    
    
}
.skills__icon-text{
    
}

.skills__icon-text p{
    font-size: 14px;
    font-weight: 700;
    color:#828282;
    margin-top: 23px;

}

.skills__icon-image-stars{
    
}
.skills__icon-image-star-on-ps{
   
   
    
}
.skills__icon-image-star-off-ps{
    
}
.skills__icon-image-ai{
    background: radial-gradient(ellipse at center, rgba(66, 51, 37, 0.98) 85%, rgba(1,192,160,1) 100%);
    /* margin-bottom: 23px; */
}
.skills__icon-image-star-on-ai{
    
}
.skills__icon-image-star-off-ai{
    
}
.skills__icon-image-ae{
    background:radial-gradient(ellipse at center, rgba(4,64,245,1) -64%, rgba(1,32,2,1) 131%) ;
    /* margin-bottom: 23px; */
}
.skills__icon-image-star-on-ae{
    
}
.skills__icon-image-star-off-ae{
    
}
.skills__icon-image-figma{
    /* margin-bottom: 23px; */
    
}
.skills__icon-image-star-on-figma{
    
}
.skills__icon-image-star-off-figma{
    
}
        