/* -------- Спецификая ---------- */
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('/fonts/Gilroy-Bold.woff2') format('woff2'),
        url('//fonts/Gilroy-Bold.woff') format('woff'),
        url('//fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('/fonts/Gilroy-Regular.woff2') format('woff2'),
        url('//fonts/Gilroy-Regular.woff') format('woff'),
        url('/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}



body {
    font-family: Gilroy, Arial, sans-serif;
    color: #000000;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.container {
    width: 944px;
    margin: 0 auto;
}

div,
p,
form,
input,
button,
a {
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
}

p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;

}

h1,
h2,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-weight: 700;
}

h3 {
    font-weight: 400;
    font-size: 18px;
}

h2 {
    font-size: 34px;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

.btn {
    text-transform: uppercase;
    font-weight: 700;
    font-family: tahoma;
    font-size: 13px;
    max-width: 218px;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 27px;
    padding: 20px 0 19px;
    background: #2D63EB;
    color: #fff;
}


/* HEADER SECTION */

.header-section {
    padding: 32px 0 36px;
    position: relative;
}

.header {}

.header__menu {
    display: flex;
    justify-content: space-between;
}

.header__menu:after {
    content: "";
    border-bottom: 1px solid #828282;
    width: 941px;
    position: absolute;
    bottom: 0;
}

.header__menu-home a {
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #070707;
}

.header__menu-home a:hover {
    color: #828282;
    transition: 0.7s;
}


.header__menu-navig a {
    color: #828282;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

.header__menu-navig a:hover {
    color: #070707;
    transition: 0.7s;
}

/* foreword-section */
.foreword-section {
    padding: 36px 0 95px;
}

.foreword {
    align-items: center;
}

.foreword__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}

.foreword__name {
    font-size: 47px;
    max-width: 150px;
    width: 100%;
}

.foreword__bio {
    width: 155px;
    padding-top: 35px;
    padding-right: 80px;
}

.foreword__languages {}

.foreword__img {
    width: 100%;
    display: block;
}


/* about me section */

.about-me-section {
    background: #F6F6F6;
    padding: 120px 0 107px;
}

.about-me {
    text-align: center;
    width: 485px;
    margin-inline: auto;
}

.about-me__title {
    margin-bottom: 18px;
}

.about-me__text {}

.about-me__text> :not(:last-child) {
    padding-bottom: 46px;
}

.about-me__text p {
    font-size: 18px;
}

/* skill SECTION */

.skills-section {
    padding: 162px 0 110px;
}

.skills {
    text-align: center;
    width: 937px;
}

.skills__title {
    margin-bottom: 69px
}

.skills__text {
    margin-bottom: 83px;
    font-size: 18px;
    font-weight: 500;
}

.skills__icons {
    display: flex;
    justify-content: space-between;
}

.skills__icon {}

.skills__icon-image-ps {
    background: linear-gradient(135deg, rgba(3, 68, 100, 1) 0%, rgba(12, 8, 36, 1) 100%);
}

.skills__icon-text {
    margin-bottom: 41px;
}

.skills__icon-text p {
    font-size: 14px;
    font-weight: 700;
    color: #828282;
    margin-top: 23px;
}

.skills__icon-image-stars {
    color: #DCDCDC;
    width: 183px;
    font-size: 26px;
    display: flex;
    gap: 9px;
    justify-content: center;
}

.checked {
    color: black;
}

.fa-star {}


.skills__icon-image-ai {
    background: radial-gradient(ellipse at center, rgba(66, 51, 37, 0.98) 85%, rgba(1, 192, 160, 1) 100%);

}

.skills__icon-image-ae {
    background: radial-gradient(ellipse at center, rgba(4, 64, 245, 1) -64%, rgba(1, 32, 2, 1) 131%);
}

.skills__icon-image-figma {}

/* Portfolio SECTION */

.portfolio-section {
    padding: 113px 0 96px;
    background: #F6F6F6;
}

.portfolio {
    text-align: center;
}

.portfolio__title {
    margin-bottom: 47px;
}

.portfolio__images {}

.portfolio__image {}

.portfolio__image a {
    text-decoration: underline;
    font-size: 18px;
}

.portfolio__image-photo {
    margin-bottom: 45px;
}

.photo {
    margin-top: 99px;
}

/* FOOTER SECTION */

.footer-section {
    padding: 114px 0 123px;
}

.footer {
    text-align: center;
    margin-inline: auto;
    width: 342px;
}


.footer__title {
    margin-bottom: 20px;
}

.footer__text-one {
    font-size: 18px;
    margin-bottom: 30px;
    margin-inline: auto;
    width: 275px;
}

.footer__button {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 18px;
    max-width: 182px;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 27px;
    padding: 13px 30px 7px 28px;
    background: #070707;
    color: #fff;
    margin-bottom: 85px;
    cursor: pointer;
}

.footer__icons {
    margin-bottom: 46px;
    display: flex;
    justify-content: space-between;
}

.footer__icon {}

.footer__social-media {
    display: flex;
    gap: 0.5em;
    margin-left: 46px;
}

.footer__social-media a {
    color: #828282;
    margin-inline: auto;
}

.footer__text-two {
    color: #828282;
    margin-inline: auto;

}

.footer__social-media-link {
    font-size: 14px;
}

.text {}

       /* MEDIA QUERiES */
   
/* 992-1200 */

@media screen and (max-width: 1200px) {
   
}

/* 768-992 */
@media screen and (max-width: 992px) {
    .container {
        width: 700px;
    }
    .header__menu:after {
        width: 91%;
    }
    .about-me-section {
        padding: 85px 0 107px;
    }
    .skills-section {
        padding: 86px 0 86px;
    }
    .skills {
        width:100%;
        text-align: center;
    }
    .skills__icon-image-ps {
        width: 50%;

    }
    .skills__icon-image-ai {
        width: 50%;

    }
    .skills__icon-image-ae {
        width: 50%;
    }
    .skills__icon-image-figma {
        width: 33%;
    }
    .skills__icon-image-stars {
        font-size: 20px;
    }
    .portfolio-section {
        padding: 56px 0 77px;
    }
    .portfolio__image-photo {
        width:100%;
    }
                               
}

/* 576-768 */
@media screen and (max-width: 768px) {
    .container {
        width: 520px;
    }
    .header__menu:after {
        width: 90%;
    }
    .skills__text {
        margin-bottom: 51px;
    }
    .skills__icons {
        flex-direction: column;
    }
    .skills__icon {
        width:100%;
    }
    .skills__icon-image-ps {
        width: 30%;

    }
    .skills__icon-image-ai {
        width: 30%;

    }
    .skills__icon-image-ae {
        width: 30%;
    }
    .skills__icon-image-figma {
        width: 15%;
    }
    .skills__icon-image-stars {
        width:100%;
    }
    .skills__icon-text {
        margin-bottom: 6px;
    } 
    .skills__icon-image-stars {
        margin-bottom: 29px;
    }
    .skills__icon-text p {
        margin-top: 6px;
    }
   
}

/* 320-576 */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }
    .header__menu-home a {
        font-size: 14px;
    }
    .header__menu-navig a {
        font-size: 14px;
    }
    .foreword-section {
        padding: 50px 0 50px;
    }
    .foreword__name {
        font-size: 35px;
    }
    .foreword__header {
        flex-flow: wrap;
    }
    .about-me-section {
        padding: 50px 0 50px;
    }
    .about-me {
        width: 100%;
    }
    .footer {
        width: 100%;
    }
    .footer__social-media {
        margin-left: 20px;
    }
    .about-me__text p {
        font-size: 14px;
    }
    .skills-section {
        padding: 50px 0 50px;
    }
    
}